{
    "logs": [
        {
            "outputFile": "C:\\Users\\vaibh\\Desktop\\Android\\InstaPost\\app\\build\\intermediates\\incremental\\mergeDebugResources\\merged.dir\\values-eu\\values-eu.xml",
   